@charset "utf-8";
/* CSS Document */
body{
	margin:auto;
	width:900px;
	font: 85%/ 1.7em 微软雅黑,"Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#666;/*文字颜色*/
}
div#wrapper{
	margin:auto;
}
div#display{
	margin:auto;
	width:900px;
	height:640px;
	background-color:#FF9;
}
div#header{
	margin-top:10px;
	margin-left:10px;
	height:200px;
	width:880px;
	text-align:center;
}
#img_logo{
	margin-top:10px;
}
div#presentasion{
	float:left;
	margin-top:10px;
	margin-left:10px;
	height:420px;
	width:580px;
	background-color:#FF6;
}
div#start{
	float:right;
	margin-right:10px;
	margin-top:10px;
	height:420px;
	width:290px;
	background-color:#FF6;
}
	div#input_name{
		height:100px;
	}
	div#input_size{
		height:100px;
	}
	div#input_author{
		height:100px;
	}
	div#get_start{
		height:110px;
		font-size:60px;
	}
	
div#footer{
	height: 50px;
	margin-top:20px;
	background-color:#FF9;
}

#start_button{
	cursor:pointer;
}

/*================= design platform ==================*/
div#work_station{
	display:none;
	margin-top:10px;
	width:900px;
	height:640px;
	background-color:#FF9;
}
div#c1{
	float:left;
	width:200px;	
	height:640px;
}
div#layout{
	margin-left:10px;
	margin-top:10px;
	height:40px;
	text-align:center;
}
#horizontalLayout{
	margin-top:10px;
}
#verticalLayout{
	margin-left:30px;
	margin-top:auto;
}
div#component{
	text-align:center;
	margin-left:10px;
	margin-top:10px;
	height:260px;
	padding:10px;
}
div#manager{
	margin-left:10px;
	margin-top:10px;
	height:280px;
}
div#c2{
	float:left;
	width:400px;
	height:640px;
}
div#workbench{
	margin-left:10px;
	margin-top:10px;
	height:410px;
}

div#resources{
	margin-left:10px;
	margin-top:10px;
	height:190px;
}
div#c3{
	float:left;
	width:300px;
	height:640px;
}
div#function{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:260px;
}
div#appearance{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:260px;
}
div#submit{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:70px;
}

#new_textview{
	background-color:#333;
	color:#CCC;
	height:auto;
	width:120px;
	cursor:pointer;
}

#new_button{
	cursor:pointer;
}

#new_imageview{
	cursor:pointer;
}

#new_imagebutton{
	cursor:pointer;
}

.panel{
	background-color:#FF6;
}

/*================= design components ==================*/
div#widget_container{
	background-image:url(unit.png);
	background-repeat:repeat;
}


.drag{
	position:absolute;
	cursor:move;
	z-index: 100;
}

div#textview{
	background-color:#333;
	color:#CCC;
	height:auto;
	width:120px;
}
