@charset "utf-8";
/* CSS Document */
body{
	margin:auto;
	width:900px;
	font: 85%/ 1.7em 微软雅黑,"Lucida Sans Unicode", verdana, geneva, sans-serif;
}
div#wrapper{
	margin:auto;
	color:#666;/*文字颜色*/
}
div#display{
	margin:auto;
	width:900px;
	height:640px;
	background-color:#FF9;
}
div#header{
	margin-top:10px;
	margin-left:10px;
	height:200px;
	width:880px;
	text-align:center;
}
div#presentasion{
	float:left;
	margin-top:10px;
	margin-left:10px;
	height:420px;
	width:580px;
	background-color:#FF6;
}
div#start{
	float:right;
	margin-right:10px;
	margin-top:10px;
	height:420px;
	width:290px;
	background-color:#FF6;
}
	div#input_name{
		height:100px;
	}
	div#input_size{
		height:100px;
	}
	div#input_author{
		height:100px;
	}
	div#get_start{
		height:110px;
		font-size:60px;
	}
	
div#footer{
	height: 50px;
	margin-top:20px;
	background-color:#FF9;
}

/*================= design platform ==================*/
div#work_station{
	display:none;
	margin-top:10px;
	width:900px;
	height:640px;
	background-color:#FF9;
}
div#c1{
	float:left;
	width:200px;	
	height:640px;
}
div#component{
	margin-left:10px;
	margin-top:10px;
	height:310px;
}
div#manager{
	margin-left:10px;
	margin-top:10px;
	height:300px;
}
div#c2{
	float:left;
	width:400px;
	height:640px;
}
div#workbench{
	margin-left:10px;
	margin-top:10px;
	height:410px;
}

div#resources{
	margin-left:10px;
	margin-top:10px;
	height:200px;
}
div#c3{
	float:left;
	width:300px;
	height:640px;
}
div#attribute{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:260px;
}
div#appearance{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:260px;
}
div#submit{
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	height:80px;
}
.panel{
	background-color:#FF6;
}
.handler{
	background-color:#F90;
}
