@charset "utf-8";
/* CSS Document */
body{
	margin:auto;
	color:#666;/*文字颜色*/
	font-family: Microsoft yahei;
/*	background-color:#FFF;*/
	background-image:url(bgunit.gif);
}
#wrapper{
	width:auto;
}
		#header{
			width:900px;
			margin:auto;
		}
			#header img{
				width:inherit;
				margin-bottom:20px;
				margin-top:10px;
			}
		#display{
			width:inherit;
			height:520px;
			background-color:#9acd32;
		}

		#footer{
			height: 50px;
			margin-top:20px;
			text-align:center;
		}
		#footer a{
			margin-left:10px;
			margin-right:10px;
		}
		.pre{
			overflow-y:auto;
			height:inherit;
		}
		.h_pre{
			margin-left:10px;
			margin-right:20px;
			border-bottom:3px solid #CCC;
			cursor:pointer;
		}
		#h_intro{
			border-bottom:3px solid #FFF;
		}

#logo{
	height:100px;
	width:100px;
}
#title{
	font-size:60px;
}
#content{
	width:900px;
	height:460px;
	margin:auto;
}
		#presentasion{
			float:left;
			height:inherit;
			width:500px;
			margin-top:30px;
			border-radius: 8px;
		}
		#start{
			box-shadow:0 15px 20px #666;
			float:right;
			height:400px;
			margin-top:30px;
			margin-left:30px;
			background-color:#FFF;
			font-size:16px;
			padding:30px;
			border-radius: 8px;
		}
			#input_name{
				height:80px;
				width:inherit;
				margin: 0px;
			}
				#name_input_span{
					margin-top: 8px;
					margin-left: 2px;
					display: block;
					position: absolute;
					z-index: 999;
					pointer-events: none;/*点击穿透*/				
				}
				#name_input{
					box-shadow:0 2px 2px #CCC inset;
					height: 30px;
					width: 270px;
					border-radius: 4px;
					color: #666;
					font-size: 16px;
				}
			#input_size{
				height:80px;
				width:inherit;
				text-align: center;
			}
				#size_row, #size_column{
					height:30px;
					width: 40px;
					font-size: 16px;
					color: #666;
					
				}
				
			#input_author{
				height:150px;
				width:inherit;				
			}
				#author_input_span{
					margin-top: 8px;
					margin-left: 2px;
					display: block;
					position: absolute;
					z-index: 999;
					pointer-events: none;/*点击穿透*/				
				}
				#author_input{
					box-shadow:0 2px 2px #CCC inset;
					height: 30px;
					width: 270px;
					border-radius: 4px;
					color: #666;
					font-size: 16px;				
				}
			#get_start{
				height:100px;
				width:inherit;				
			}
			#start_button{
				margin: auto;
				width: 200px;
				font-size: 20px;
				cursor:pointer;
				text-align:center;
				border-style: solid;
				border-radius: 8px;
				height: 35px;
				padding-top: 12px;
				font-weight: bold;
			}

/*================= design platform ==================*/

#work_station{
	display:none;
	height:620px;
}
#c0{
	position: fixed;
	height:30px;
	left: 20%;
	right: 20%;
	text-align:center;
	padding:10px;
	background-color: #000;
	color: #d3d7d4;
	z-index: 999;
	/*圆角*/
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	/*半透明*/
	opacity: .7;
	filter: alpha(opacity=40);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
	box-shadow:0 0 10px #666;
}
#c1{
	position: fixed;
	width:290px;
	height:520px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top: 70px;
}
#c1_content{
	float: left;
	width: 270px;
	height: 520px;
}
#c1_handle{
	float:right;
	width:20px;
	box-shadow:30 0px 30px #666;
	box-shadow:0 20px 10px #666;
}
		#component{
			height:inherit;
			padding:10px;
		}
		#manager, #resources{
			display:none;
			height:inherit;
			padding:10px;
		}
		#component, #manager, #resources{	
			-webkit-border-bottom-right-radius:8px;
			-moz-border-radius-bottomright:8px;
			box-shadow:0 15px 20px #666;
		}
#c2{
	position:absolute;
	left:300px;
	right:300px;
	height:450px;
	padding:10px;
}


		#workbench{
			margin-top: 100px;
			height:inherit;
			width:inherit;
			box-shadow:0 15px 20px #666;
		}
		
#c3{
	position: fixed;
	right: 0px;
	width:290px;
	height:520px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:0px;
	padding-top:10px;
	margin-top: 70px;
}
#c3wrap{
	position: fixed;
}
#c3_content{
	float: right;
	width: 270px;
	height: 520px;
}
#c3_handle{
	float:left;
	width:20px;
	box-shadow:-30 0px 30px #666;
	box-shadow:0 20px 10px #666;
}
		#function{
			height:inherit;
			padding:10px;
		}
		#appearance{
			display:none;
			height:inherit;
			padding:10px;
		}
		#function, #appearance{
			-webkit-border-bottom-left-radius:8px;
			-moz-border-radius-bottomleft:8px;
			box-shadow:0 15px 20px #666;
		}

.handle1,.highLight1,.handle2,.highLight2,.switch1,.switch2{
	padding-bottom:10px;
	padding-top:10px;
	padding-left:2px;
}
.switch{
	background-color:#333;
}
#switch1{
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
}
#switch2{
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
}
.handle1,.handle2{
	background-color:#333;
	border-top-color:#9acd32;
	border-top-style:solid;
	border-top-width:thin;
	color:#999;
}
.highLight1, .highLight2{
	background-color:#9acd32;
	color:#666;
}

/*========================================*/
#layout{
	height:40px;
	text-align:center;
}
#horizontalLayout{
	margin-top:10px;
}
#verticalLayout{
	margin-left:30px;
	margin-top:auto;
}
#new_textview{
	background-color:#333;
	color:#CCC;
	height:auto;
	width:120px;
	cursor:pointer;
}

#new_button{
	cursor:pointer;
}

#new_imageview{
	cursor:pointer;
}

#new_imagebutton{
	cursor:pointer;
}

.panel{
	background-color:#9acd32;
}

#addImage{
	width: 100%;
}

#zoomin, #zoomout, #submit_button, #save_button, #reset_button, #back_button{	
	cursor: pointer;
	margin-left: 20px;
	font-size: 16px;
}
#zoomin, #zoomout{
	cursor:pointer;
	margin-left: 20px;
}

/*================= design components ==================*/
.horizontal-layout { list-style-type: none; margin: 0; padding: 0; }
.horizontal-layout li { padding: 0; float: left;  text-align: center; }

.vertical-layout { list-style-type: none; margin: 0; padding: 0; }
.vertical-layout li { padding: 0; float: left;  text-align: center; }

.drag{
	cursor:move;
}

#component0{
	margin:auto;
	background-image:url(unit.png);
	list-style-type: none; 
}

#textview{
	background-color:#333;
	color:#CCC;
	height:auto;
	width:120px;
}

.highLighted{
	box-shadow:0 0 20px #FFF;
}

#highLightDiv{	
	position: absolute;
	border-style: dashed;
	border-width: 3px;	
	pointer-events: none;/*点击穿透*/
}
.component{
	vertical-align:middle;
}
.cbutton{
	font-size:36px;
	background-color:#999;
}
.textview{
	vertical-align:middle;
}
.textview_text, .button_text{
	margin:0;
	height:auto;
	width:auto;
}